@import "header.css";
@import "nav.css";
@import "footer.css";

/* Desktop first */

p{
  font-size: 110%;
}


h1{
  text-align: center;
}

img{
  max-width: 35%;
  max-height: 100%;
  border: solid red 3px;
  float:right;
  margin:20px;

}

li{
  margin-top: 10px;
}

.container{
    
    display:grid;
    grid-template-columns: 200px;
    grid-template-rows: 250px auto 100px;
    grid-template-areas: 
    "hd hd "
    "nav main "
    "ft ft ";
    
}

.box{
      
      margin-top: 10px;
      
}
  

.content{
    grid-area: main;
    padding: 10px;
}


/* Mobile Screen */
@media(max-width:900px){

    .container{
          display:grid;
          grid-template-columns: 300px auto auto;
          grid-template-rows: 250px 100px auto;
          grid-template-areas:
          "hd hd hd "
          "nav nav nav"
          "main main main"
          "ft ft ft";
    }
  
    .nav{
            
            grid-area: nav;
            background:linear-gradient( white, grey);
            margin:0px;
            
            
    }

    .nav ul{
        display: flex;
        justify-content: space-around;
        padding-inline-start: 0px;
    }
}